.grid-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;

}

.grid {
    display: grid;
    grid-template-columns: repeat(7, 252px);
    
}

.column {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item {
    width: 236px;
    height: 350px;
    background: $red;
    border-radius: 10px;
}

.item:not(:first-child) {
    margin-top: 16px;
}